<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            border-collapse: collapse;
        }
        table th, td { border:1px solid lightblue; }
      
      a{
          text-decoration: none;
      }
#logout{
  color:red;
}
  
    </style>
</head>
<body>
    <h1>게시판</h1>
    
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>내용</th>
                <th>글쓴이</th>
                <th>시간</th>
                <th>기타</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>내용</th>
                <th>글쓴이</th>
                <th>시간</th>
                <th>기타</th>
            </tr>

        </tfoot>
        <tbody>
            {% for x in data %}
            <tr>
                <td> {{x['_id']}}  </td>
                <td> {{x['title']}}  </td>
                <td> {{x['desc']}}  </td>
                <td> {{x['author']}}  </td>
                <td> {{x['create_at']}}  </td>
                <td> 
                    <a href="/edit/{{x['_id']}}"><button>편집</button></a>  
                    <a href="/del/{{x['_id']}}" onclick="return confirm"><button>삭제</button></a>  
                </td>
                
            </tr>
            {% endfor %}
        </tbody>

    </table>
    
      <button><a href="/">메인</a></button>
      <button><a href="/create_at">글쓰기</a></button>
      <button><a href="/logout" id="logout">로그아웃</a></button>
     
     <script>
        timeData = document.getElementById('time').innerHTML
        console.log(timeData)
        // 작성일 : 2022년 5월 19일 목요일 19시 4분 10초 1밀리초
        let date = new Date(timeData);
        console.log(date.getFullYear())
        textDate = `${date.getFullYear()}년 ${date.getMonth()}월 ${date.getDay()}일`
        document.getElementById('time').innerHTML = textDate
      </script>
</body>
</html>